In [152]:
import pandas as pd
import os
import numpy as np
import ast

In [154]:
def load(filepath):

    filename = os.path.basename(filepath)

    if 'features' in filename:
        return pd.read_csv(filepath, index_col=0, header=[0, 1, 2])

    if 'echonest' in filename:
        return pd.read_csv(filepath, index_col=0, header=[0, 1, 2])

    if 'genres' in filename:
        return pd.read_csv(filepath, index_col=0)

    if 'tracks' in filename:
        tracks = pd.read_csv(filepath, index_col=0, header=[0, 1])

        COLUMNS = [('track', 'tags'), ('album', 'tags'), ('artist', 'tags'),
                   ('track', 'genres'), ('track', 'genres_all')]
        for column in COLUMNS:
            tracks[column] = tracks[column].map(ast.literal_eval)

        COLUMNS = [('track', 'date_created'), ('track', 'date_recorded'),
                   ('album', 'date_created'), ('album', 'date_released'),
                   ('artist', 'date_created'), ('artist', 'active_year_begin'),
                   ('artist', 'active_year_end')]
        for column in COLUMNS:
            tracks[column] = pd.to_datetime(tracks[column])

        SUBSETS = ('small', 'medium', 'large')
        try:
            tracks['set', 'subset'] = tracks['set', 'subset'].astype(
                    'category', categories=SUBSETS, ordered=True)
        except (ValueError, TypeError):
            # the categories and ordered arguments were removed in pandas 0.25
            tracks['set', 'subset'] = tracks['set', 'subset'].astype(
                     pd.CategoricalDtype(categories=SUBSETS, ordered=True))

        COLUMNS = [('track', 'genre_top'), ('track', 'license'),
                   ('album', 'type'), ('album', 'information'),
                   ('artist', 'bio')]
        for column in COLUMNS:
            tracks[column] = tracks[column].astype('category')

        return tracks

In [156]:
features = load("../../Genre Prediction/Data/Original Data/fma_metadata/features.csv")

In [170]:
tracks = load("../../Genre Prediction/Data/Original Data/fma_metadata/tracks.csv")

In [218]:
genres = load("../../Genre Prediction/Data/Original Data/fma_metadata/genres.csv")

In [264]:
needed_genres = genres.sort_values(by="#tracks",ascending=False).head(17).index.to_list()

In [206]:
track=tracks['track']
tracks_genre = pd.DataFrame(track['genres_all'],index=track.index)

In [208]:
tracks_genre

                 genres_all
track_id
2                      [21]
3                      [21]
5                      [21]
10                     [10]
20        [17, 10, 76, 103]
...                     ...
155316             [25, 12]
155317             [25, 12]
155318             [25, 12]
155319             [25, 12]
155320     [169, 10, 12, 9]

[106574 rows x 1 columns]

In [297]:
tracks_genre_hot = tracks_genre['genres_all'].apply(lambda x: pd.Series({val: 1 for val in x})).fillna(0)

In [ ]:
X = of.drop()

In [276]:
tracks_genre_hot_needed = tracks_genre_hot[needed_genres]
tracks_genre_hot_needed = tracks_genre_hot_needed.astype(int)

In [288]:
tracks_genre_hot_needed = tracks_genre_hot_needed.loc[(tracks_genre_hot_needed!=0).any(axis=1)]

In [290]:
tracks_genre_hot_needed

,38,15,12,1235,10,17,25,1,21,32,107,76,41,27,18,42,66
track_id,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
10,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155316,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
155317,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
155318,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
155319,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
155320,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [80]:
from imblearn.under_sampling import RandomUnderSampler

undersampler = RandomUnderSampler()
X_resampled, y_resampled = undersampler.fit_resample(X, y)

(track, genres_all)
False    106574
Name: count, dtype: int64

In [298]:
y=

SyntaxError: invalid syntax (3129613954.py, line 1)